.idea
.tmp
bower_components
node_modules
dist/**.html
# classic/assets/cache
var/cache/*
!var/cache/.gitkeep
var/logs/*
!var/logs/.gitkeep
*.zip
themes/classic/assets/css/*.css
themes/classic/assets/css/*.map.css
themes/classic/assets/css/themes/*.css
# classic/assets/fonts
# classic/assets/images
# classic/assets/media
# classic/assets/media
# _libraries
# .htaccess
# debug.tpl
# index.php
# javascript.tpl