/* Error: Undefined mixin.
 *    ,
 * 42 |         +multipleTransition((background 0.45s ease, color 0.75s ease, border 0.3s))
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\themes\sinner\_forms.sass 42:9  @import
 *   sass\themes\sinner\main.sass 26:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 42 \2502          +multipleTransition((background 0.45s ease, color 0.75s ease, border 0.3s))\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\themes\\sinner\\_forms.sass 42:9  @import\a   sass\\themes\\sinner\\main.sass 26:9    root stylesheet";
}
