/* Error: Undefined variable.
 *    ,
 * 30 |     font-family: $body-f
 *    |                  ^^^^^^^
 *    '
 *   sass\themes\sinner\theme.sass 30:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 30 \2502      font-family: $body-f\d\a    \2502                   ^^^^^^^\a    \2575 \a   sass\\themes\\sinner\\theme.sass 30:18  root stylesheet";
}
