#pdgetdatabyvatnumberpro {margin-bottom: 20px}
#pdgetdatabyvatnumberpro .info-title {margin-bottom: 10px;}
#pdgetdatabyvatnumberpro #pdgetdatabyvatnumberpro_get {
	margin: 4px 0px;
	padding: 4px;
}

#pdgetdatabyvatnumberpro .unvisible {
    display: none;
}